APUNTES - M04 - Lenguaje de Marcas/M04 - Lenguaje de marcas/UF1 Programación con XML/XML/Ejercicio 1/ejercicio1.dtd

<!ELEMENT persona (nombre,ocupacion,aficiones,direccion,telefono)>
<!ELEMENT nombre (nombre_pila,apellido+)>
<!ATTLIST nombre DNI  CDATA #REQUIRED>
<!ELEMENT nombre_pila (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT ocupacion (#PCDATA)>
<!ELEMENT aficiones (aficion+)>
<!ELEMENT aficion (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
