APUNTES - M04 - Lenguaje de Marcas/M04 - Lenguaje de marcas/UF1 Programación con XML/XML/Ejercicio 5/ejercicio5.dtd

<!ELEMENT receta (nombre_plato,fotografia?,ingredientes,pasos)>
<!ENTITY foto1 SYSTEM "imagen1.jpg" NDATA JPG>
<!ENTITY foto2 SYSTEM "imagen2.jpg" NDATA JPG>

<!ELEMENT nombre_plato (#PCDATA)>
<!ELEMENT fotografia (#PCDATA)>
<!NOTATION JPG SYSTEM "image/jpeg">

<!ATTLIST fotografia foto ENTITIES #IMPLIED>

<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>

<!ELEMENT pasos (paso+)>

<!ATTLIST paso orden CDATA #REQUIRED>

<!ELEMENT paso (#PCDATA)>



