APUNTES - M04 - Lenguaje de Marcas/M04 - Lenguaje de marcas/UF1 Programación con XML/XML/Schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nom" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="cognom" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="adreça" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="telefont" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
