APUNTES - M04 - Lenguaje de Marcas/M04 - Lenguaje de marcas/UF1 Programación con XML/XML/documents-export-2016-01-10/navidad.dtd

<!ELEMENT botiga (categories,articles)>
<!ELEMENT categories (categoria+)>
<!ELEMENT categoria (nom, descripcio)>
<!ATTLIST categoria idcat ID #REQUIRED>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT articles (article+)>
<!ELEMENT article (nom, descripcio, preu)>
<!ATTLIST article idart ID #REQUIRED idrcat IDREFS #REQUIRED>
<!ELEMENT preu (#PCDATA)>
